    <!-- About Section -->
    <section id="info-6" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Vybavení</h3>
                <p class="info-text">Společné věci pro karavanu (vozy, stany,
                sudy, kotlíky apod.) plánujeme dodat my. Od hráčů bychom
                chtěli, aby si sehnali vybavení pro sebe.</p>
                <p class="info-text">Výzbroj na drsnou bitku musí splňovat
                určité nároky a nám jde v první řadě o bezpečnost.
                Předpokládáme, že hodně účastníků si bude vybavení půjčovat a
                snadno seženou klasický mix výstroje z období od ranného do
                vrcholného středověku. Na Anabasis bychom neradi hráčům situaci
                komplikovali nutností shánět konkrétní vybavení na konkrétní
                námět. Naopak, čím více se přiblížíte neurčitému vzhledu
                vojáka, tím lépe. Klidně si tedy vezměte, co seženete. Hlavní
                je, aby vám to sedělo a dobře chránilo. Bez helmy a prošívky se
                neobejdete.</p>
                <p class="info-text">Druhou důležitou vlastností vybavení je
                váha. Putování sice nebude dlouhé, ale cesta bude náročná
                překážkami a tažením vozů. Proto si raději dobře rozmyslete, co
                všechno na sebe naložíte, abyste se nezničili dlouhodobým
                nošením.</p>
                <p class="info-text">Ohledně vzhledu kostýmu bychom chtěli
                zdůraznit jednu věc. Na hře budeme rozlišovat tři různé skupiny
                pomocí výrazného barevného doplňku. Z tohoto důvodu bychom
                chtěli apelovat na účastníky, aby svůj základní kostým měli co
                nejméně barevný. Ideální je černá, šedá, hnědá a obecně tmavé
                odstíny čehokoli. Tažení již trvá delší dobu, takže se nebojte
                mít výstroj opotřebovanou a špinavou.</p>
            </div>
            </div>
        </div>
    </section>
