    <!-- about section -->
    <section id="info-7" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Pluk</h3>
                <p class="info-text">Na Anabasis všichni patří do Pluku. Pluk
                je náš domov, naše rodina. Pluk má velmi dlouhou historii,
                během níž se utvořilo mnoho tradic.</p>
                <p class="info-text">Vojáci v Pluku nosí červené pláště, a
                proto mu někteří říkají Rudý Pluk. Stát se plnohodnotným členem
                není snadné. Čekatel této jednotky na počátku obdrží bílý
                plášť. Teprve, až se mu podaří jej celý obarvit do ruda svojí a
                nepřátelskou krví, může vstoupit do Pluku. Velitel mu při
                slavnostním nástupu připne rudý plášť na znamení, že se může
                považovat za plnoprávného člena Pluku.  Plášť mají vojáci ve
                velké úctě. Připomíná jim, kam patří a krev, kterou prolili.
                Mnozí sebou dodnes pro štěstí tahají své zakrvácené plátno z
                dob kdy, bývali mladí.</p>
                <p class="info-text">Voják má svůj plášť, Pluk má svou
                insignii. Insignie představuje historii Pluku. Každá bitva se
                na ní podepsala. Nosit insignii je čest.  Nosíme ji v čele
                útoku. Shromažďujeme se kolem ní při ústupu.  Insignie nesmí
                padnout na zem nebo do rukou nepřátel.</p>
                <p class="info-text">Vojáci se dostávají do sporů. Řeší je po
                svém, někdy hádkou, jindy bitkou. Když se spor vyhrotí a ani
                jedna strana nedokáže uhnout, vytáhnou se kostky a vojáci před
                svědky nechají rozhodnout osud. Kostky jsou posvátné a nikdo si
                nedovolí jejich rozhodnutí zpochybňovat.</p>
                <p class="info-text">Někdy si voják zaslouží trest. O trestu
                rozhoduje velitel. Trestají ostatní vojáci. Jeden po druhém
                přistupují k odsouzenému a bijí jej.  Odsouzený se snaží trest
                snášet se ctí. Podoba trestu je vždy stejná, liší se konec.
                Když má odsouzený přežít, je pouze bit.  Když má zemřít, je
                ubit k smrti.</p>
                <p class="info-text">Když voják zemře, jeho přátelé se s ním
                rozloučí, s úctou mu sejmou rudý plášť a předají jej
                veliteli.</p>
            </div>
            </div>
        </div>
    </section>
