    <!-- About Section -->
    <section id="info-5" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Námět</h3>
                <p class="info-text">Hru schválně nechceme zasadit do
                konkrétního místa a času. Raději bychom pracovali s obecným
                příběhem, bez nutnosti znát konkrétní historické pozadí. K
                tvorbě Anabasis nás inspiroval jeden z nejstarších příběhů o
                putování a strádání vojáků v nepřátelské zemi. Při procházení
                slavných tažení nás fascinovalo, kolikrát se stejný příběh v
                dějinách zopakoval, až se pro nás stal téměř mýtem. A tento
                mýtus bychom chtěli na naší hře převyprávět.</p>
                <p class="info-text">V našich představách se Anabasis odehrává
                daleko za územím mocné říše, které budeme říkat Císařství. Říše
                je světlem civilizace, je největší a  nejmocnější ve známém
                světě. V temnotě za jejími hranicemi žijí barbarské národy,
                před kterými je Císařství chráněno početnými armádami.</p>
                <p class="info-text">Jednoho dne Císařství vyslalo expediční
                vojáky, aby zkrotili barbarské nepřátele za hranicemi.
                Expediční sbor byli ti nejlepší válečníci, kteří barbary
                mnohonásobně převyšovali organizací, výcvikem i morálkou.
                Tažení bylo zpočátku velmi úspěšné. Armáda se jako nůž zařízla
                hluboko do barbarského území a pak se vše pokazí. Barbaři se
                najednou objevují neznámo odkud, neúnavně napadají kolonu a
                připravují jednu past za druhou. Trestná výprava se mění v
                zápas o holý život a vojákům zbývá jediný cíl &ndash; najít
                cestu z pekla ven a zachránit se.</p>
            </div>
            </div>
        </div>
    </section>
