    <!-- About Section -->
    <section id="teaser5" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                    <h3>Rok 1520, Mexiko</h3>
                    <p class="teaser-text">Byla noc na 1. července 1520. Dnes
                    se jí říká La Noche Triste, noc zármutku. Pod rouškou
                    temnoty a hustého deště se tisíc tři sta konquistadorů
                    pokusilo uniknout z obležení v Tenochitlánu. V cestě jim
                    stál dlouhý dřevěný most a čtyřicet tisíc aztéckých
                    válečníků. Většina Španělů tehdy padla. Byli zastřeleni
                    nebo se utopili, obtíženi zbrojí a poklady.</p>
                    <p class="teaser-text">Ti tři na chvíli zapomněli na
                    dopadající šípy a zděšeně zírali za mizejícím plukovníkem
                    Alvaradem. Kapitán Nicolao polknul naprázdno. Věděl,
                    že musí jít příkladem. “Viděli jste plukovníka, chlapi.
                    Jdeme na to!” Pevně sevřeli své píky a v rozběhu je
                    zapíchli do kalné vody. Tyče je poslušně vymrštily
                    a oni letěli na druhý břeh. Nicolao s úlevou vykřikl: “Ó
                    Dio!” Jenže na vrcholu dráhy ztratili rychlost, píky se
                    pevně zabořily do bahna a ti tři zůstali viset uprostřed
                    mezery.</p>
                    <p class="teaser-text">Mladý Esteban se tázavě podíval na
                    starého Alejandra, který jen pokrčil rameny. Nicolao s
                    němou výčitkou pohleděl k nebesům a vydal nevyhnutelný
                    rozkaz: “Do vody!” “Rozkaz kapitáne!”</p>
                        <a href="#teaser6" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </div>
            </div>
        </div>
    </section>
