    <!-- About Section -->
    <section id="teaser4" class="content-section text-center">
        <div class="teaser-section-image teaser-section-stirling">
            <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                    <h3>Rok 1297, Skotsko</h3>
                    <p class="teaser-text">Bylo ráno 11. září léta páně 1297.
                    Anglické vojsko vyslané na sever zkrotit barbarské povstání
                    dělila od nepřátel řeka Forth. Obchvat přes vzdálený brod
                    anglický velitel odmítl jako zbytečný, vždyť kdo by dokázal
                    odolat čelnímu útoku těžké jízdy? Brzy ráno začala armáda
                    překračovat řeku po úzkém mostě. Anglické rytíře dělilo
                    několik hodin od jejich první porážky z rukou pěšáků.</p>
                    <p class="teaser-text">“Jestli něco na armádě nesnáším, tak
                    jsou to rááána,” dlouze zívl Steve, “to je pořád - za
                    svítání bude nástup, za svítání zaútočíme, za svítání
                    zaujmete předmostí na nepřátelském břehu…Bože, jak já jsem
                    ospalej.” Alex zkušeně dřímající ve stoje u kopí pootevřel
                    víčka. “Až budeš mít moje roky, chlapče, naučíš se usnout
                    kdykoli a kdekoli.” Klimbajícího setníka Nicka probral
                    posel. Nick na něj chvíli nevěřícně zíral a pak se obrátil
                    k mužstvu: “Chlapci, změna rozkazu, musíme se vrátit zpátky
                    přes řeku k našim. Jeho lordstvo zaspalo a nestihlo
                    začátek. Takže si to dáme ještě jednou.” “Rozkaz
                    setníku!”</p>
                        <a href="#teaser5" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </div>
            </div>
        </div>
    </section>
