    <!-- About Section -->
    <section id="teaser" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>401 př.n.l., Persie</h3>
                <p class="teaser-text">V roce 401 před naším letopočtem uvízlo
                deset tisíc řeckých žoldnéřů hluboko v Perské říši. Bez vůdce,
                bez zásobování, bez cíle, opuštěni spojenci a obklopení
                nepřáteli.  Tehdy se začal psát příběh o dlouhé strastiplné
                cestě, který dal jméno všem podobným tažením, příběh o
                Anabasis.</p>
                <p class="teaser-text">Ti tři stáli nerozhodně nad naloženým
                vozem. Mladý Stephanos trochu zahanbeně žmoulal pochodeň.
                “Říkali stany a vozy spálit, půjde se nalehko.” "Copak jsme
                římani, abychom všechno tahali na hřbetě?” odfrknul starý
                Alexandros. “Vždycky, když spím v průvanu, tak se pak nemůžu
                vymočit,” škrábal se na hlavě kapitán Nikoláos. "A co
                kdybysme…”, tázavé pohledy vystřídalo vzájemné tiché
                porozumění. “Vůz označit jako zdravotní a stan schovat na dno!”
                “Rozkaz, kapitáne!”</p>
                        <a href="#teaser2" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </div>
            </div>
        </div>
    </section>
