    <!-- About Section -->
    <section id="basics" class="content-section">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Základní informace</h3>
                <dl class="dl-horizontal" style="font-size: 20px; list-style-type: none">
                  <dt>Datum</dt><dd>17-19.8.2018</dd>
                  <dt>Místo</dt><dd> Upřesníme, asi Vysočina</dd>
                  <dt>Cena</dt><dd> 500,- Kč</dd>
                  <dt>Počet hráčů</dt><dd> cca 30 až 50</dd>
                  <dt>Harmonogram</dt><dd> Příjezd v pátek, pátek večer
                  stmelování, sobota až neděle hra, neděle odpoledne
                  odjezd</dd>
                  <dt>Co sebou</dt><dd> Výzbroj, výstroj, čutoru, trochu jídla,
                  alkohol na pátek, věci na spaní, stan do skupiny. Vše living
                  fantasy, nic moderního.</dd>
                  <dt>Co dodáme</dt><dd> Pro Pluk: voda, suroviny a
                  vybavení na společné vaření, světla, několik stanů, možná
                  nábytek. Průzkumníkům zajistíme vodu.</dd>
                  <dt>Co si poneseme</dt><dd> Pluk a civilisté budou mít věci v
                  táboře. Průzkumníci si vše nesou na zádech.</dd>
                  <dt>Jídlo</dt><dd> Pluk bude fasovat suroviny na vaření, vaří
                  se po skupinkách v době volna. Vlastní jídlo si vzít můžete.
                  Průzkumníci si řeší jídlo sami</dd>
                  <dt>Postavy</dt><dd> Postavy a příběhy se vytvoří společně na
                  pátečním stmelovacím večírku</dd>
                  <dt>Typ hry</dt><dd> Simulace, táboření a plížení, tvrdá
                  bitka měkčenými zbraněmi, sandbox. Organizátoři dají rámec
                  hry, úkoly a časy. Děj a řešení úkolů je plně v rukou
                  hráčů.</dd>
                  <dt>Náročnost</dt><dd> Fyzicky náročná hra, zejména
                  průzkumníci nebudou mít zázemí a budou si muset vše nosit. V
                  táboře bude větší pohodlí přerušované náročnými úkoly,
                  bojovat se bude spíš málo. Psychická traumata
                  neočekáváme</dd>
                  <dt>Konflikt</dt><dd> Řeší se tvrdou bitkou, divadelní
                  rvačkou nebo kostkami.</dd>
                  </dl>
            </div>
            </div>
        </div>
    </section>
