    <!-- About Section -->
    <section id="basics" class="content-section">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Základní informace</h3>
                <dl class="dl-horizontal" style="font-size: 20px; list-style-type: none">
                  <dt>Datum</dt><dd>6-8.10.2017</dd>
                  <dt>Místo</dt><dd> Česká Kanada v okolí Starého Města, místo srazu upřesníme</dd>
                  <dt>Cena</dt><dd> 300-500,- Kč</dd>
                  <dt>Počet hráčů</dt><dd> 30 až 50</dd>
                  <dt>Harmonogram</dt><dd> Příjezd v pátek večer. Sobota dopoledne workshopy. Hra od sobotního poledne až nedělního poledne. Neděle odpoledne odjezd.</dd>
                  <dt>Co sebou</dt><dd> výzbroj, výstroj, alkohol, jídlo, čutoru, věci na spaní kromě stanů</dd>
                  <dt>Co dodáme</dt><dd> Vozy, stany, vodu</dd>
                  <dt>Co si poneseme</dt><dd> Poneseme výzbroj, výstroj a čutoru s vodou. Stany, věci na spaní a jídlo potáhneme na vozech.</dd>
                  <dt>Jídlo</dt><dd> Každý se stará o vlastní jídlo. V sobotu večer budeme společně vařit ze zásob od organizátorů.</dd>
                  <dt>Postavy</dt><dd> Hráči si píšou sami.</dd>
                  <dt>Typ hry</dt><dd> Putování. Celou hru si povezeme
                    sebou. Tvrdá bitka měkčenými zbraněmi. Základní rámec a
                    scénář hry je daný (railroad). Od hráčů nečekáme, že budou
                  běh hry měnit, ale spíše se naladí na její vlnu.</dd>
                  <dt>Náročnost</dt><dd> Fyzicky náročná hra: 12 km ve zbroji, potáhneme vozy s nákladem a budeme hodně bojovat. Psychická traumata neočekáváme.</dd>
                  <dt>Konflikt</dt><dd> Řeší se tvrdou bitkou, divadelní rvačkou nebo kostkami. Všichni účastníci bojují.</dd>
                  </dl>
                  <p style="text-align: center;">
                    <a href="#faq" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                  </p>
            </div>
            </div>
        </div>
    </section>
