 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <span class="light">Anabasis</span>
                </a>
                <a class="navbar-brand" href="/stories/">
                    <span class="light">Příběhy</span>
                </a>
                <a class="navbar-brand page-scroll" href="#page-top">
                    Hra
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info-1">Boj</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info-2">Band of Brothers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info-3">Role</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info-4">Tažení</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info-5">Námět</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info-6">Vybavení</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
