    <!-- About Section -->
    <section id="info-2" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Band of Brothers</h3>
                <p class="info-text">Zážitek z Anabasis má být intenzivní pro
                každého účastníka. Nechceme se soustředit na vytváření dobře
                vypadajících scén. Nechceme probouzet obavy, jestli děj vedete
                správným směrem, nebo hru zatěžovat složitými vnitřními
                konflikty. Přáli bychom si, abyste si to užili sami pro sebe.
                Abyste prožili přátelství ve zbrani a vypjaté situace, kdy jste
                odkázaní jeden na druhého a společně čelíte nástrahám
                nepřátelského území. Nic nespojí tolik jako smrt, co vám dýchá
                za krk a vědomí, že ztráta dalšího druha je nejen ztrátou
                kamaráda, ale i posilou pro nepřátele.</p>
                <p class="info-text">Anabasis chceme mít hrou, kdy prožitek je
                víc než scéna pro scénu a skrze boj, náročné podmínky a
                složitost situace navodit pocit Anabáze. Pocit nebezpečí,
                beznaděje a melancholie. Pocit přátelství a sounáležitosti
                druhů ve zbrani.</p>
            </div>
            </div>
        </div>
    </section>
