    <!-- About Section -->
    <section id="info-1" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Boj v Anabasis</h3>
                <p class="info-text">Jednou z podstatných charakteristik
                Anabasis je zacílení na fyzický prožitek. Přejeme si, abychom
                společně prožili intenzivní pocit vojenského tažení se vším, co
                k tomu patří. Chceme vám zprostředkovat syrový zážitek, který
                se zadře pod kůži. Občas možná doslova.</p>
                <p class="info-text">Budeme tedy hodně bojovat. Nebude to jak
                na bitvě, ale boje plánujeme hodně a pro hru budou jednotlivé
                bojové situace stěžejní, přece jenom jde o vojenské tažení. Boj
                bude jeden z hlavních nástrojů k docílení fyzického prožitku, a
                proto je důležité si to vyjasnit hned na začátku.</p>
                <p class="info-text">Boj na Anabasis bude probíhal formou
                “kekel”. Nicméně tento v našich luzích a hájích zavedený pojem
                přesně nevystihuje naši představu o bitce. Aktuální vyhrocenost
                násilí na kekelu není to, co na hře chceme. Říkejme tomu raději
                “Tvrdá bitka”, kterou si představujeme jako kekel v jeho
                počátcích.  Každý je zodpovědný za svoji bezpečnost a
                přizpůsobuje tomu ochranné pomůcky (helma, prošívka,
                zbroje,...). K zemi padá ten, kdo vyhodnotí první kvalitní
                zásah (do hlavy, do trupu,...), s občasnou výjimkou, kdy
                postava hrdinsky vydrží nemožné, ale to už bude vycházet ze hry
                samotné.  Ve stylu boje vás nebudeme omezovat (prorážení,
                navalování se štítem, chytání topora zbraní apod.), na druhou
                stranu nechceme vidět nebezpečné techniky jako páky, kopy,
                údery hranou štítu nebo neměkčenou části zbraně apod.).
                Podobně nechceme omezovat zbraně. Pokud budou bezpečné, tak si
                přivezte, co máte rádi. S jednou výjimkou: dlouhé sečné zbraně.
                Obouručka po ramena je v pohodě, ale nechceme tam žádné cepy,
                halapartny a jiné než bodné tyčovky.</p>
                <p class="info-text">Je nám jasné, že mnoho z vás může tvrdá
                bitka odradit. Přesto bychom vás rádi přesvědčili, že se jedná
                o skvělý zážitek, který není tak nebezpečný, jak se na první
                pohled jeví. Rádi vám budeme naši představu osobně vysvětlovat
                a definovat úroveň násilí před hrou.</p>
                        <a href="#teaser" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </div>
            </div>
        </div>
    </section>
