    <!-- about section -->
    <section id="info-8" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Postavy</h3>
                <p class="info-text">Chtěli bychom, abyste si postavy na
                Anabasis vytvořili sami. Postavu si dobře rozmyslete. Napište
                si ji raději tak, aby se vám hrála pohodlně. Bude třeba s ní
                vydržet celou hru v náročných a fyzicky vyčerpávajících
                podmínkách. Nám se třeba osvědčuje psát si postavu hodně na
                tělo, nebo vytáhnout svůj oblíbený archetyp. Necháme to na vás.
                Pracujeme s nadčasovým mýtem, takže pro inspiraci klidně
                sáhněte, kam vás napadne. Na hře chceme řešit, jak žije banda
                přátel ve stínu smrtelného nebezpečí a vyčerpání. Témata, která
                na hře příliš neočekáváme, jsou vztahovky a zásadní vnitřní
                konflikty.</p>
                <p class="info-text">Hlavní otázka zní, jestli raději chcete
                hrát pojmenovanou postavu (červená), nebo bezejmennou (šedá). V
                zavedených larpových pojmech červení představují hlavní postavy
                a šedí se blíží spíš CP. Šedí nemají jméno, místo na sebe hrají
                na ostatní červené, nemusí si vytvářet promyšlený charakter a v
                průběhu bojů se většinou budou měnit na nepřátelské barbary.
                Být šedý je ideální pro někoho, kdo si chce zahrát hru, ale
                nechce se mu vyrábět postavu.</p>
                <p class="info-text">Následující instrukce a nápady jsou určené
                pro tvorbu pojmenovaných postav. Zásadní jsou pro nás jméno,
                charakteristika a smalltalk.</p>
                <p class="info-text">Postava musí mít jméno. Doporučujeme
                vymýšlet spíš vojenské přezdívky, které jsou hodně popisné a
                usnadní zapamatování. Např. organizátoři budou Velitel, Stopař,
                Staršina a Blonďák.  Jako stručná charakteristika nám stačí pár
                vět, které vystihují vaši postavu. Např. <em>“Od té zlomené nohy se
                stále budím s bolestí, zapomenu na ni jen když zpívám, piju
                nebo bojuju. A tak zpívám, piju a bojuju.”</em> Navrhněte si svůj
                small talk – něco na vaší postavě, z čeho si kamarádi utahují,
                když je nuda. Něco, co vám může říct přítel, ale cizí by už
                dostal po tlamě.  Pro inspiraci přidáváme ještě další témata, o
                kterých si myslíme, že bude zajímavé je řešit.</p>
                <p class="info-text">Proč jsem v armádě? Někdo byl odveden.
                Někdo slouží za trest. Jiného vylosovali. Další se přihlásil
                dobrovolně. Pro někoho už nebylo doma místo a jinému velí
                rodinná tradice.  Co budu dělat, až tohle skončí? Mám něco, na
                čem mi záleží? Znám vůbec něco jiného? Mám proč žít? Nebo se
                jen bojím umřít? Co po mě tady zůstane?  Kdo jsou moji
                nejbližší přátelé? Co nás spojuje? Společné dětství? Společná
                vina? Společná láska?  K čemu se utíkám, když je zle, když
                něčemu nerozumím? Co považuju za zlé znamení? Mám něco pro
                štěstí?  Jak mám v úctě ty, co padli přede mnou? Věřím, že nám
                pomáhají, nebo jen nechci opakovat jejich chyby?  Kde jsem
                sehnal výstroj? Někdo ji koupil za poslední peníze.  Jiný
                zdědil po otci otce jeho otce. Další ji postupně kompletuje z
                těl mrtvých nepřátel.</p>
            </div>
            </div>
        </div>
    </section>
