    <!-- About Section -->
    <section id="info-4" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Tažení</h3>
                <p class="info-text">Anabasis chceme pojmout jako válečné
                tažení. Obrazně i doslova. Plánujeme to tak, že vše potřebné si
                poneseme s sebou včetně stanů, jídla i vody. A protože to
                nechceme všechno tahat na zádech, naložíme náklad na vozy.
                Cílem rozhodně není nás ztrhat taháním vozu a bude tomu
                odpovídat i zvolená trasa tak, abychom si mohli pořádně užít
                vojenské tažení nepřátelským územím se vším, co k tomu patří,
                včetně bojů, přepadů, překážek na cestě, ale i vaření, stavění
                tábora a zabezpečení karavany. Nepočítejte však se zbytečnou
                buzerací a nesmysly jako držení hlídek v době, kdy se nic dít
                nebude. To je něco, co nás opravdu nebaví.</p>
                <p class="info-text">Časově si to představujeme tak, že se v
                pátek všichni potkáme na místě srazu, v sobotu dopoledne se na
                pohodu zabalíme a pak vyrazíme na cestu (hru). Do večera budeme
                putovat, na noc se utáboříme a v neděli kolem poledne by mělo
                být hotovo a snad se z toho i někdo dostane :)</p>
            </div>
            </div>
        </div>
    </section>
