    <!-- About Section -->
    <section id="info-3" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Role</h3>
                <p class="info-text">Nechceme si to dělat složité, a proto
                všichni poputujeme společně jako součást válečného tažení. Role
                plánujeme rozdělit na Pojmenované a Šedé. Pojmenovaní jsou
                důležité postavy, které od ostatních výrazně barevně odlišíme.
                Šedí plní roli běžných zbrojnošů a ostatních lidí trénu. Před
                bojem se část šedých “vytratí” do lesa, kde se přemění na
                nepřátele obléknutím výrazného kostýmového doplňku a pak pod
                velením nepřátelských velitelů budou útočit na karavanu. V
                případě smrti Pojmenovaného se Pojmenovaný změní na Šedého.
                Postupně tak bude jedné skupiny ubývat a druhá naopak bude na
                síle nabírat.</p>
            </div>
            </div>
        </div>
    </section>
