    <!-- About Section -->
    <section id="teaser3" class="content-section text-center">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                    <h3>Rok 732, Poitiers</h3>
                    <p class="teaser-text">V roce 732 byl Ummayadský kalifát na
                    svém vrcholu. Jeho vojsko dobylo téměř celý známý svět a
                    sebevědomě proniklo hluboko do srdce Francie. Tam mu však
                    cestu naprosto nečekaně zastoupil nepřítel, který stál
                    nehnutě na kopci a vyčkával. Sedm dní emír váhal, pak
                    zaútočil. Osmého dne jeho armáda prchala.</p>
                    <p class="teaser-text">Bělovlasý Iksander se zachumlal do
                    tenkého plátna. “Přilož na oheň, mladej!”.  Istafaan se
                    neochotně natáhnul pro poleno a otřásl se zimou. “Já tady
                    vidím tři jasná pochybení. Zaprvé jsme takhle na sever
                    vyrazili nalehko &ndash; ty naše hadříky, zima na krku, no
                    škoda mluvit. Aspoň že máme oheň. Za druhé jsme jeli jak na
                    výlet. Žádné hlídky, průzkumníci a tak. No a za třetí…”
                    “Hej, vy dva!” Z noci se vynořil rajíd Nikula. “Uhasit
                    oheň, půjdete na noční průzkum. Zítra budeme šířit
                    civilizaci na sever.” “Rozkaz, rajíde!”</p>
                        <a href="#teaser4" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </div>
            </div>
        </div>
    </section>
