    <!-- About Section -->
    <section id="teaser6" class="content-section text-center">
        <div class="teaser-section-image teaser-section-custer">
            <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                    <h3>Rok 1876, Montana</h3>
                    <p class="teaser-text">V roce 1876 se představitelé USA
                    rozhodli přinést civilizaci na jedno z posledních území v
                    rukou indiánů. Rezervace Siouxů stála v cestě železnici a
                    navíc zde bylo nalezeno zlato. 25. června dorazili vojáci
                    sedmé kavalerie k indiánské osadě u malé říčky. Zde na ně
                    čekala nejslavnější prohra v dějinách, bitva u Little Big
                    Hornu.</p>
                    <p class="teaser-text">Dým z pušek skryl celé údolí a ze
                    všech stran doléhal jekot útočících indiánů. Uprostřed
                    zmatku byla malá oáza klidu za převráceným vozem. Ti tři
                    sledovali whiskey, která unikala z prostřelené butylky
                    ležící opodál. Šíp vězel uprostřed nápisu "Dáš si dva tři
                    chlapské loky, budeš hrdý na své roky!". Starý Alexander
                    smutně spustil ruku, která před chvíli butylku svírala.“Ta
                    byla moje poslední.” Bledý Steve vytáhnul poslední patronu.
                    “Tahle taky.” “Tahle taky,” pozvedl seržant Nick hvězdnatou
                    standartu.“Popadněte ji a zmizte. Budu vás krýt.” “Rozkaz
                    seržante!”</p>
            </div>
            </div>
        </div>
    </section>
