    <!-- Download Section -->
    <section id="teaser2" class="content-section text-center">
        <div class="teaser-section-image teaser-section-tb">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>9 n.l., Germánie</h3>
                    <p class="teaser-text">V hlubokém lese u obce Kalkriese v
                    dolním Sasku objevil amatérský archeolog pozůstatky bitvy.
                    Lidské ostatky a známky boje pokrývaly oblast dlouhou 25km
                    a širokou 2km. V roce 9 našeho letopočtu zde tři dny
                    bojovaly římské legie v zoufalé snaze uniknout z chytře
                    připravené pasti.</p>
                    <p class="teaser-text">Mladý Stephanus pevně svíral těžký
                    štít nad hlavou a snažil se zrakem proniknout houští na
                    kraji mýtiny. “Určitě zaútočí.” “Nezaútočí,” zakroutil
                    hlavou Alexander a zkušeně posunul štít, aby mu déšť
                    přestal téct za límec. “Dokud jsme ve formaci, tak
                    nezaútočí.” Mýtinou se rozezněly římské trubky.  “Ach jo,”
                    povzdechl centurio Nicolaus.  “Rozpustit formaci a pochodem
                    do lesa!” “Rozkaz, centurione!”</p>
                        <a href="#teaser3" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                </div>
            </div>
        </div>
    </section>
