    <!-- About Section -->
    <section id="faq" class="content-section">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="text-center">FAQ</h3>
                <ol style="font-size: 16px;">
									<li style="margin: 1em;"><strong style="color: #54cde6;">Můžu se ještě přidat,
									když registrace skončila?</strong> Registrace je skutečně uzavřena, ale
									napište Deffovi na <a href="mailto:deff@email.cz">deff@email.cz</a> a nějak se
									domluvíme.</li>
									<li style="margin: 1em;"><strong style="color: #54cde6;">Co je to vlastně za
									hru - sci-fi, airsoft, železo?</strong> Anabasis je bojový larp s měkčenými
									zbraněmi. Střelné zbraně budou střílet pouze šípy s bambulemi, zbraně na
									střelný prach na hře nebudou.</li>
									<li style="margin: 1em;"><strong style="color: #54cde6;">Trochu se bojím té
									tvrdé bitky. Je to hra pro mě?</strong> Tvrdost na Anabasis pro nás představuje
									zejména možnost bouchání do hlav, zatlačení štítem apod. Rozhodně se nechceme
									zmrzačit. Na hře budeme neustále spolu, a proto očekáváme gentlemanské vedení
									boje. Je samozřejmě možné (a vítané) jet na hru za střelce, který je relativně
									v bezpečí, ale i ten musí mít přilbu a počítat s tím, že může dostat po
									hlavě.</li>
									<li style="margin: 1em;"><strong style="color: #54cde6;">Jak moc se bude
									bojovat? Bouchnu si 2x za hru nebo půjdem z boje do boje?</strong> Na tuto
									otázku není snadné odpovědět, protože scénář ještě pilujeme. Nemusíte se bát,
									že by boje bylo málo, na druhou stranu se nebudeme mlátit v jednom kuse. Tempo
									a náročnost jsme schopni vám přizpůsobovat i v průběhu hry.</li>
									<li style="margin: 1em;"><strong style="color: #54cde6;">A co smrt? To jako
									umřu v druhé bitvě a už si neškrtnu?</strong> Je nám jasné, že v bitvách dojde
									k vyřazení většiny postav. To však neznamená, že zemřou. Postavy ležící po boji
									na zemi bude obcházet smrt a dá jim možnost se rozhodnout, jestli už mají dost
									a chtějí umřít, nebo jestli se zvednout a půjdou dál. Od určité fáze hry bude
									smrt čím dál pravděpodobnější. Smrtí však nic nekončí, naopak se hráčům otevírá
									hra za šedé.</li>
									<li style="margin: 1em;"><strong style="color: #54cde6;">Hele, ještě jednou -
									co jsou to ti šedí a červení?</strong> Obojí jsou hrdými a rovnoprávnými vojáky
									stejného pluku. Společně si užijí příběh, bratrství ve zbrani a putování. Spolu
									budou oplakávat padlé hrdiny, zpívat, tábořit, táhnout, milovat i nenávidět
									(hlavně vozy). Červení jsou hlavní role na hře, mají jasný charakter, vlastní
									small talk a na hře si mohou užít své osobní hrdinství. Po smrti se z nich
									stanou šedí. Šedí nejsou hlavní postavy, mají sice jméno, ale nemají
									propracovaný charakter, k small talku používají společná témata pluku nebo
									slabiny červených a obecně hrají spíš na pluk a červené, než na sebe. V boji se
									mění na nepřátelské barbary.</li>

                </ol>
            </div>
            </div>
        </div>
    </section>
