    <!-- About Section -->
    <section id="basics" class="content-section">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Basics</h3>
                <dl class="dl-horizontal" style="font-size: 20px;
                  list-style-type: none">
                  <dt>Fight style</dt><dd>Roughness and intensity of the fight
                  are a bit lower than at the Fort event but higher than at
                  Anabasis events. We call it "hardcore fight".</dd>
                  <dt>Setting</dt><dd>The game loosely follows the Anabasis
                  storyline about a conflict between barbarian Northerners and
                  a civilized Empire. The vagueness of the setting is
                  intentional. Common medieval or low fantasy soldier costumes
                  are preferred, ideally of darker colors and without
                  distinctive elements (like elven ears, orc masks, or bold
                  colors).</dd>
                  <dt>Story</dt><dd>We want to tell a story of the ordinary
                  soldiers and their units. The story is relayed via narrators.
                  Narrators recount the interesting events that happened on the
                  battlefield.</dd>
                  <dt>Battle</dt><dd>Battles are scenario-driven. Both sides
                  are divided into smaller units. The units receive written
                  assignments specifying their objectives in a given scenario.
                  There will be no long marches.</dd>
                  <dt>Time plan</dt><dd>The battle will start on Saturday early
                  afternoon because we want the players to be well rested and
                  not hung over. The action will last until dark, though.</dd>
                  <dt>Importantly</dt><dd>The goals of Nordica are to have fun,
                  to have a good fight, and to enjoy the atmosphere. All
                  elements are designed to support these goals. And of course,
                  there will be a hell of a party.</dd>
                  <dt>Creators</dt><dd>Afri, Antik, Bjorn, Deff, Lukáš,
                  Třešťa, Vojcek</dd>
                </dl>
                <div class="text-center">
                    <a href="#pastgames" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </section>
