    <!-- About Section -->
    <section id="pastgames" class="content-section">
        <div class="teaser-section-image teaser-section-tb">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Past events</h3>
                <h4 class="text-center">
                  <a href="https://bitvaofort.eu">Battle of Fort</a>
                </h4>
                <h4 class="text-center">
                  <a href="http://anabasis-2018.larpy.cz">Anabasis: All quiet on the Northern Front</a>
                </h4>
                <h4 class="text-center">
                  <a href="http://anabasis-2017.larpy.cz">Anabasis</a>
                </h4>
            </div>
            </div>
        </div>
    </section>
