    <!-- About Section -->
    <section id="basics" class="content-section">
        <div class="teaser-section-image">
            <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="text-center">Základní informace</h3>
                <dl class="dl-horizontal" style="font-size: 20px;
                  list-style-type: none">
                  <dt>Boj</dt><dd>Chtěli bychom nastavit míru tvrdosti boje
                  trochu níž, než byla na poslední bitvě o Fort a trochu výš,
                  než na Anabazích. Budeme tomu říkat Tvrdá bitka.</dd>
                  <dt>Setting</dt><dd>Hra navazuje na předchozí Anabáze
                  příběhem o boji severských barbarů s civilizovanou říší.
                  Setting je záměrně neurčitý a nadčasový. Pro Nordicu je
                  ideální tmavší kostým obyčejného středověkého nebo fantasy
                  vojáka bez výrazných barev a jasných charakteristik (bez
                  špičatých uší a skřetích masek).</dd>
                  <dt>Děj</dt><dd>Chtěli bychom vyprávět příběh bitvy z pohledu
                  obyčejného vojáka a jeho čety, které osud zavál na bojiště.
                  Příběhem budou vojáky provázet vypravěči, kteří budou
                  posouvat děj, vyprávět, co se děje na bojišti a budou
                  reflektovat, co se které četě přihodilo.</dd>
                  <dt>Bitva</dt><dd> Střety budou tradiční scénářové. Vojska
                  budou rozdělena na čety, které budou mít své bojové úkoly.
                  Instrukce pro jednotlivé scénáře dostanou čety formou psaného
                  rozkazu. Pochody a dlouhé přesuny nebudou.</dd>
                  <dt>Harmonogram</dt><dd> Plánujeme s bitvou začít až v sobotu
                  odpoledne. Dá vám to šanci pořádně se vyspat z ranní kocoviny
                  a nabrat síly, protože bitva bude končit až za tmy.</dd>
                  <dt>Nejdůležitější</dt><dd>To hlavní na Nordice je zábava,
                  boj a atmosféra. Všechny nápady a inovace tomu podřizujeme. A
                  pochopitelně nás čeká kvalitní pitka.</dd>
                  <dt>Organizátoři</dt><dd>Afri, Antik, Bjorn, Deff, Lukáš,
                  Třešťa, Vojcek</dd>

                  </dl>
                  <div class="text-center">
                        <a href="#pastgames" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                  </div>
            </div>
            </div>
        </div>
    </section>
