    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row" style="margin-top: 50px">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="brand-heading">{{ site.title }}</h2>
                        <h2 class="date-subtitle">4.&ndash;6. 10. 2019, Fort Radíkov</h2>
                        <p class="intro-text">{{ site.description }}<br>
                        <ul class="list-inline banner-social-buttons">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                            </li>
                            {% endfor %}
                            <li>
                                <a href="https://dorazim.eu" class="btn btn-default btn-lg"><span class="network-name">Registrovat!</span></a>
                            </li>
                        </ul>
                    <a href="#basics" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
