    <!-- About Section -->
    <section id="registration" class="content-section">
        <div class="teaser-section-image teaser-section-tb">
            <div class="container">
            <div class="col-lg-12">
                <h3 class="text-center">Registrace</h3>
                <p>
                    Registrace probíhá na systému <a href="https://dorazim.eu">dorazim.eu</a>. Vytvořte si účet a vyplňte osobní
                    profil. Potom klikněte na výpis otevřených registrací a vyplňte tu naši. Registrace bude potvrzena
                    emailem. Registrační poplatek je nutné uhradit do 14 dnů od potvrzení vaší registrace. Pokud narazíte
                    na jakýkoliv problém, napište nám na FB nebo na email <a href="mailto:nordica0@protonmail.com">nordica0@protonmail.com</a>.
                </p>
                <p>
                    Nepřijímáme registrace hráčů mladších než 18 let. Případné výjimky se můžete pokusit projednat přes
                    FB nebo mail.
                </p>
                <p>
                    Registraci fotografů provádíme domluvou přes FB nebo mail.
                </p>
                <div style="text-align:center;">
                  <ul class="list-inline banner-social-buttons">
                  <li>
                      <a href="https://dorazim.eu" class="btn btn-default btn-lg"><span class="network-name">Registrovat!</span></a>
                  </li>
                </ul>
                </div>

                <div class="text-center">
                      <a href="#handbook" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                      </a>
                </div>
            </div>
            </div>
        </div>
    </section>
